Repository JoOkuma/tracksdata, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci, dependencies, core, array, io, metrics, utils, examples, benchmarks

adjusting query to work on larger datasets
  src/tracksdata/graph/_sql_graph.py
Labels: core

making masks optional to array loading
  src/tracksdata/functional/_napari.py
  src/tracksdata/graph/_base_graph.py
  src/tracksdata/io/_numpy_array.py
Labels: core, io

bug fix
  src/tracksdata/io/_numpy_array.py
Labels: io

fixing pickling and mask slicing
  src/tracksdata/graph/_sql_graph.py
  src/tracksdata/nodes/_generic_nodes.py
  src/tracksdata/nodes/_mask.py
  src/tracksdata/options.py
Labels: core

Improving filter syntax PR
  src/tracksdata/edges/_generic_edges.py
  src/tracksdata/graph/_graph_view.py
  src/tracksdata/graph/_rustworkx_graph.py
Labels: core

testing uv benchmark
  asv.conf.json
Labels: none

renaming sqlgraphwinmemory
  .github/workflows/benchmarks.yml
  asv.conf.json
  benchmarks/graph_backends.py
  pyproject.toml
Labels: ci, dependencies, benchmarks

updating asv conf
  .github/workflows/benchmarks.yml
  asv.conf.json
Labels: ci

wip fixing CI
  .github/workflows/benchmarks.yml
  asv.conf.json
Labels: ci

initial implementation
  src/tracksdata/graph/__init__.py
  src/tracksdata/graph/_filtered_geff_loader.py
  src/tracksdata/graph/_test/test_filtered_geff_loader.py
Labels: tests, core

updating tests
  src/tracksdata/graph/_test/test_filtered_geff_loader.py
Labels: tests, core

improving geff loader speed
  src/tracksdata/graph/_filtered_geff_loader.py
  src/tracksdata/graph/_test/test_filtered_geff_loader.py
Labels: tests, core

wip
  src/tracksdata/solvers/_ilp_solver.py
  src/tracksdata/solvers/_test/test_ilp_to_motile.py
Labels: tests, core

Restore fast paths while accepting NumPy IDs
  benchmarks/graph_mutations.py
  src/tracksdata/graph/_base_graph.py
  src/tracksdata/graph/_graph_view.py
  src/tracksdata/graph/_rustworkx_graph.py
  src/tracksdata/graph/_sql_graph.py
  src/tracksdata/graph/_test/test_graph_backends.py
  src/tracksdata/utils/_numpy_native.py
Labels: tests, core, utils, benchmarks

Limit the optimization to homogeneous list conversion
  benchmarks/graph_mutations.py
  src/tracksdata/graph/_base_graph.py
  src/tracksdata/graph/_graph_view.py
  src/tracksdata/graph/_rustworkx_graph.py
  src/tracksdata/graph/_sql_graph.py
  src/tracksdata/graph/_test/test_graph_backends.py
  src/tracksdata/utils/_numpy_native.py
Labels: tests, core, utils, benchmarks

Preserve native sequences during NumPy normalization
  src/tracksdata/graph/_rustworkx_graph.py
  src/tracksdata/graph/_sql_graph.py
  src/tracksdata/graph/filters/_base_filter.py
  src/tracksdata/utils/_numpy_native.py
Labels: core, utils

.github/labeler.yml:

# Auto-labeling configuration for PRs and issues

# Documentation changes
documentation:
  - '**/*.md'
  - 'docs/**/*'
  - 'mkdocs.yml'

# Tests
tests:
  - '**/*test*.py'
  - 'tests/**/*'
  - '**/_test/**/*'

# CI/CD
ci:
  - '.github/**/*'
  - '**/*ci*'
  - '**/*workflow*'

# Dependencies
dependencies:
  - 'pyproject.toml'
  - 'requirements*.txt'
  - 'uv.lock'
  - 'Pipfile*'

# Core functionality
core:
  - 'src/tracksdata/graph/**/*'
  - 'src/tracksdata/nodes/**/*'
  - 'src/tracksdata/edges/**/*'
  - 'src/tracksdata/solvers/**/*'

# Array operations
array:
  - 'src/tracksdata/array/**/*'

# I/O operations
io:
  - 'src/tracksdata/io/**/*'

# Metrics
metrics:
  - 'src/tracksdata/metrics/**/*'

# Utilities
utils:
  - 'src/tracksdata/utils/**/*'

# Examples
examples:
  - 'examples/**/*'

# Benchmarks
benchmarks:
  - 'benchmarks/**/*'
